html(lang='en')
  head
    meta(charset='UTF-8')
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    title Hifdh Test
    link(rel='stylesheet', href='css/index.css')
    script(type='text/javascript', src='js/index.js', async='')
  body
    form
      label(for='juz') Pick a Juz:
      select#juz(name='juz')
        option(value='Juz1') Juz 1
        option(value='Juz2') Juz 2
        option(value='Juz3') Juz 3
        option(value='Juz4') Juz 4
        option(value='Juz5') Juz 5
        option(value='Juz6') Juz 6
        option(value='Juz7') Juz 7
        option(value='Juz8') Juz 8
        option(value='Juz9') Juz 9
        option(value='Juz10') Juz 10
        option(value='Juz11') Juz 11
        option(value='Juz12') Juz 12
        option(value='Juz13') Juz 13
        option(value='Juz14') Juz 14
        option(value='Juz15') Juz 15
        option(value='Juz16') Juz 16
        option(value='Juz17') Juz 17
        option(value='Juz18') Juz 18
        option(value='Juz19') Juz 19
        option(value='Juz20') Juz 20
        option(value='Juz21') Juz 21
        option(value='Juz22') Juz 22
        option(value='Juz23') Juz 23
        option(value='Juz24') Juz 24
        option(value='Juz25') Juz 25
        option(value='Juz26') Juz 26
        option(value='Juz27') Juz 27
        option(value='Juz28') Juz 28
        option(value='Juz29') Juz 29
        option(value='Juz30') Juz 30
      input(type='submit', value='Submit')